# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/
dist-ssr/
*.local

# Scratch & log files
scratch/
.DS_Store
*.log
*.tmp
tempCodeRunnerFile.html

# Environment variables
.env
.env.*
!.env.example

# IDE & Editor files
.vscode/
.idea/
